.circular-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.circular-gallery:active {
  cursor: grabbing;
}

.circular-gallery canvas {
  display: block;
  width: 100%;
  height: 100%;
  touch-action: none;
}

/* Mobile optimizations */
@media (max-width: 768px) {
  .circular-gallery {
    cursor: grab;
  }

  .circular-gallery:active {
    cursor: grabbing;
  }
}

